

*{
    margin: 0;
    padding: 0%;
    font-size: 22px;
}

.navbar{
    padding: 25px;
    padding-bottom: 55px;
    background-color: rgb(197, 190, 190);
}

.nav{
    float: right;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav li{
    list-style: none
}

.nav li a{
    text-decoration: none;
    color: black;
    padding: 35px;
}
